---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OpenWeather API Key>&lat=35.65314&lon=-97.481511&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.6531,"lon":-97.4815,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1663612537,"sunrise":1663589739,"sunset":1663633911,"temp":94.6,"feels_like":98.8,"pressure":1009,"humidity":41,"dew_point":67.26,"uvi":7.75,"clouds":0,"visibility":10000,"wind_speed":11.5,"wind_deg":220,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1663612560,"precipitation":0},{"dt":1663612620,"precipitation":0},{"dt":1663612680,"precipitation":0},{"dt":1663612740,"precipitation":0},{"dt":1663612800,"precipitation":0},{"dt":1663612860,"precipitation":0},{"dt":1663612920,"precipitation":0},{"dt":1663612980,"precipitation":0},{"dt":1663613040,"precipitation":0},{"dt":1663613100,"precipitation":0},{"dt":1663613160,"precipitation":0},{"dt":1663613220,"precipitation":0},{"dt":1663613280,"precipitation":0},{"dt":1663613340,"precipitation":0},{"dt":1663613400,"precipitati[...]
