---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<Mapquest API Key>&location=edmond,ok
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 23 Sep 2022 23:32:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"edmond,ok"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Edmond","adminArea5Type":"City","adminArea4":"Oklahoma
        County","adminArea4Type":"County","adminArea3":"OK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282035868","unknownInput":"","type":"s","latLng":{"lat":35.65314,"lng":-97.481511},"displayLatLng":{"lat":35.65314,"lng":-97.481511},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<Mapquest
        API Key>&type=map&size=225,160&locations=35.65314,-97.481511|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2027957157"}]}]}'
  recorded_at: Fri, 23 Sep 2022 23:32:23 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OpenWeather API Key>&lat=35.65314&lon=-97.481511&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.6531,"lon":-97.4815,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1663975944,"sunrise":1663935519,"sunset":1663979155,"temp":91.22,"feels_like":89.91,"pressure":1016,"humidity":32,"dew_point":57.25,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":12.66,"wind_deg":200,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1663975980,"precipitation":0},{"dt":1663976040,"precipitation":0},{"dt":1663976100,"precipitation":0},{"dt":1663976160,"precipitation":0},{"dt":1663976220,"precipitation":0},{"dt":1663976280,"precipitation":0},{"dt":1663976340,"precipitation":0},{"dt":1663976400,"precipitation":0},{"dt":1663976460,"precipitation":0},{"dt":1663976520,"precipitation":0},{"dt":1663976580,"precipitation":0},{"dt":1663976640,"precipitation":0},{"dt":1663976700,"precipitation":0},{"dt":1663976760,"precipitation":0},{"dt":1663976820,"precipitati[...]
