---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OpenWeather API Key>&lat=35.65314&lon=-97.481511&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.6531,"lon":-97.4815,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1663602305,"sunrise":1663589739,"sunset":1663633911,"temp":85.59,"feels_like":88.72,"pressure":1012,"humidity":55,"dew_point":67.57,"uvi":4.4,"clouds":0,"visibility":10000,"wind_speed":17.27,"wind_deg":210,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1663602360,"precipitation":0},{"dt":1663602420,"precipitation":0},{"dt":1663602480,"precipitation":0},{"dt":1663602540,"precipitation":0},{"dt":1663602600,"precipitation":0},{"dt":1663602660,"precipitation":0},{"dt":1663602720,"precipitation":0},{"dt":1663602780,"precipitation":0},{"dt":1663602840,"precipitation":0},{"dt":1663602900,"precipitation":0},{"dt":1663602960,"precipitation":0},{"dt":1663603020,"precipitation":0},{"dt":1663603080,"precipitation":0},{"dt":1663603140,"precipitation":0},{"dt":1663603200,"precipitati[...]
