---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<Mapquest API Key>&location=Cape%20Town,%20South%20Africa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 21:57:58 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Cape
        Town, South Africa"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Cape
        Town","adminArea5Type":"City","adminArea4":"Cape Town","adminArea4Type":"County","adminArea3":"WESTERN
        CAPE","adminArea3Type":"State","adminArea1":"ZA","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282771215","unknownInput":"","type":"s","latLng":{"lat":-33.928905,"lng":18.417249},"displayLatLng":{"lat":-33.928905,"lng":18.417249},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<Mapquest
        API Key>&type=map&size=225,160&locations=-33.928905,18.417249|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1988758433"}]}]}'
  recorded_at: Mon, 26 Sep 2022 21:57:58 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OpenWeather API Key>&lat=-33.928905&lon=18.417249&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":-33.9289,"lon":18.4172,"timezone":"Africa/Johannesburg","timezone_offset":7200,"current":{"dt":1664229479,"sunrise":1664166629,"sunset":1664210697,"temp":54.25,"feels_like":52.95,"pressure":1020,"humidity":76,"dew_point":46.85,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":167,"wind_gust":7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1664226000,"temp":54.75,"feels_like":53.46,"pressure":1020,"humidity":75,"dew_point":46.99,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":3.22,"wind_deg":124,"wind_gust":4.25,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664229600,"temp":54.25,"feels_like":52.95,"pressure":1020,"humidity":76,"dew_point":46.85,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.09,"wind_deg":119,"wind_gust":4.05,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1664233200,"temp":54.61,"feels_like":53.35,"pressure":1020,"humidity":76,"dew_point":47.21,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":2.57,"wind_deg":94,"wind_gust":3.2,"weather":[{"id":800,"main":"Clear"[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Magadan,%20Russia&key=<Mapquest
      API Key>&to=Cape%20Town,%20South%20Africa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 26 Sep 2022 21:58:14 GMT
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"hasTollRoad":true,"hasBridge":false,"boundingBox":{"lr":{"lng":150.830811,"lat":-33.929184},"ul":{"lng":18.417093,"lat":62.815662}},"distance":14592.9639,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"computedWaypoints":[],"routeError":{"errorCode":-400,"message":""},"formattedTime":"278:18:51","sessionId":"63322067-03a7-993a-02b4-3c46-068064e90759","hasAccessRestriction":false,"realTime":-1,"hasSeasonalClosure":false,"hasCountryCross":true,"fuelUsed":623.7,"legs":[{"hasTollRoad":true,"hasBridge":false,"destNarrative":"Proceed
        to CAPE TOWN, WESTERN CAPE.","distance":14592.9639,"hasTimedRestriction":false,"hasTunnel":true,"hasHighway":true,"index":0,"formattedTime":"278:18:51","origIndex":-1,"hasAccessRestriction":false,"hasSeasonalClosure":false,"hasCountryCross":true,"roadGradeStrategy":[[]],"destIndex":433,"time":1001931,"hasUnpaved":true,"origNarrative":"","maneuvers":[{"distance":0.061,"streets":["Комсомольская
        площадь"],"narrative":"Start out going southeast on Комсомольская площадь
        toward улица Билибина.","turnType":0,"startPoint":{"lng":150.798874,"lat":59.560596},"index":0,"formattedTime":"00:00:19","directionName":"Southeast","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<Mapquest
        API Key>&size=225,160&locations=59.56059646606445,150.7988739013672|marker-1||59.560394287109375,150.7991485595703|marker-2||&center=59.560495376586914,150.79901123046875&defaultMarker=none&zoom=15&rand=-1784268122&session=63322067-03a7-993a-02b4-3c46-068064e90759","transportMode":"AUTO","attributes":0,"time":19,"iconUrl":"http://content.mqcdn.com/mqsite/turnsigns/icon-dirs-start_sm.gif","direction":5},{"distance":0.004,"streets":["Комсомольская
        площадь"],"narrative":"Turn left to stay on Комсомольская площадь.","turnType":6,"startPoint":{"lng":150.799149,"lat":59.560394},"index":1,"formattedTime":"00:00:03","directionName":"North","maneuverNotes":[],"linkIds":[],"signs":[],"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<Mapquest
        API Key>&size=225,160&locations=59.560394287109375,150.7991485595703|marker-2||59.560447692871094,150.79913330078125|marker-3||&center=5[...]
[...]
