---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<Mapquest API Key>&location=edmond,ok
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Sep 2022 18:32:29 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"edmond,ok"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Edmond","adminArea5Type":"City","adminArea4":"Oklahoma
        County","adminArea4Type":"County","adminArea3":"OK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282035868","unknownInput":"","type":"s","latLng":{"lat":35.65314,"lng":-97.481511},"displayLatLng":{"lat":35.65314,"lng":-97.481511},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<Mapquest
        API Key>&type=map&size=225,160&locations=35.65314,-97.481511|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2124010532"}]}]}'
  recorded_at: Sat, 24 Sep 2022 18:32:29 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OpenWeather API Key>&lat=35.65314&lon=-97.481511&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.6531,"lon":-97.4815,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664044350,"sunrise":1664021964,"sunset":1664065467,"temp":82.42,"feels_like":82.92,"pressure":1015,"humidity":48,"dew_point":60.76,"uvi":2.34,"clouds":100,"visibility":10000,"wind_speed":4,"wind_deg":254,"wind_gust":7,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1664044380,"precipitation":0},{"dt":1664044440,"precipitation":0},{"dt":1664044500,"precipitation":0},{"dt":1664044560,"precipitation":0},{"dt":1664044620,"precipitation":0},{"dt":1664044680,"precipitation":0},{"dt":1664044740,"precipitation":0},{"dt":1664044800,"precipitation":0},{"dt":1664044860,"precipitation":0},{"dt":1664044920,"precipitation":0},{"dt":1664044980,"precipitation":0},{"dt":1664045040,"precipitation":0},{"dt":1664045100,"precipitation":0},{"dt":1664045160,"precipitation":0},{"dt":1664045220,"precipitati[...]
