---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<Mapquest API Key>&location=edmond,ok
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 16:44:06 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"edmond,ok"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Edmond","adminArea5Type":"City","adminArea4":"Oklahoma
        County","adminArea4Type":"County","adminArea3":"OK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282035868","unknownInput":"","type":"s","latLng":{"lat":35.65314,"lng":-97.481511},"displayLatLng":{"lat":35.65314,"lng":-97.481511},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<Mapquest
        API Key>&type=map&size=225,160&locations=35.65314,-97.481511|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1955209798"}]}]}'
  recorded_at: Mon, 26 Sep 2022 16:44:06 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OpenWeather API Key>&lat=35.65314&lon=-97.481511&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.6531,"lon":-97.4815,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664210646,"sunrise":1664194855,"sunset":1664238089,"temp":76.69,"feels_like":75.79,"pressure":1029,"humidity":37,"dew_point":48.49,"uvi":5.41,"clouds":0,"visibility":10000,"wind_speed":5.75,"wind_deg":30,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1664210700,"precipitation":0},{"dt":1664210760,"precipitation":0},{"dt":1664210820,"precipitation":0},{"dt":1664210880,"precipitation":0},{"dt":1664210940,"precipitation":0},{"dt":1664211000,"precipitation":0},{"dt":1664211060,"precipitation":0},{"dt":1664211120,"precipitation":0},{"dt":1664211180,"precipitation":0},{"dt":1664211240,"precipitation":0},{"dt":1664211300,"precipitation":0},{"dt":1664211360,"precipitation":0},{"dt":1664211420,"precipitation":0},{"dt":1664211480,"precipitation":0},{"dt":1664211540,"precipitati[...]
