---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OpenWeather API Key>&lat=35.65314&lon=-97.481511&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":35.6531,"lon":-97.4815,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1664228972,"sunrise":1664194855,"sunset":1664238089,"temp":83.89,"feels_like":81.64,"pressure":1024,"humidity":27,"dew_point":46.36,"uvi":1.88,"clouds":0,"visibility":10000,"wind_speed":4,"wind_deg":340,"wind_gust":10,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1664229000,"precipitation":0},{"dt":1664229060,"precipitation":0},{"dt":1664229120,"precipitation":0},{"dt":1664229180,"precipitation":0},{"dt":1664229240,"precipitation":0},{"dt":1664229300,"precipitation":0},{"dt":1664229360,"precipitation":0},{"dt":1664229420,"precipitation":0},{"dt":1664229480,"precipitation":0},{"dt":1664229540,"precipitation":0},{"dt":1664229600,"precipitation":0},{"dt":1664229660,"precipitation":0},{"dt":1664229720,"precipitation":0},{"dt":1664229780,"precipitation":0},{"dt":1664229840,"precipitati[...]
