---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<Mapquest API Key>&location=London,%20England
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 21:50:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"London,
        England"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"London","adminArea5Type":"City","adminArea4":"Westminster","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"GB","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282415113","unknownInput":"","type":"s","latLng":{"lat":51.507276,"lng":-0.12766},"displayLatLng":{"lat":51.507276,"lng":-0.12766},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<Mapquest
        API Key>&type=map&size=225,160&locations=51.507276,-0.12766|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1052796250"}]}]}'
  recorded_at: Mon, 26 Sep 2022 21:50:41 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OpenWeather API Key>&lat=51.507276&lon=-0.12766&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.5073,"lon":-0.1277,"timezone":"Europe/London","timezone_offset":3600,"current":{"dt":1664229042,"sunrise":1664171561,"sunset":1664214665,"temp":52.2,"feels_like":50.68,"pressure":1002,"humidity":76,"dew_point":44.87,"uvi":0,"clouds":71,"visibility":10000,"wind_speed":13.8,"wind_deg":290,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1664229060,"precipitation":0},{"dt":1664229120,"precipitation":0},{"dt":1664229180,"precipitation":0},{"dt":1664229240,"precipitation":0},{"dt":1664229300,"precipitation":0},{"dt":1664229360,"precipitation":0},{"dt":1664229420,"precipitation":0},{"dt":1664229480,"precipitation":0},{"dt":1664229540,"precipitation":0},{"dt":1664229600,"precipitation":0},{"dt":1664229660,"precipitation":0},{"dt":1664229720,"precipitation":0},{"dt":1664229780,"precipitation":0},{"dt":1664229840,"precipitation":0},{"dt":1664229900,"precipitati[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=<Mapquest
      API Key>&to=London,%20England
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Mon, 26 Sep 2022 21:50:43 GMT
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: UTF-8
      string: '{"route":{"routeError":{"errorCode":2,"message":""}},"info":{"statuscode":402,"copyright":{"imageAltText":"©
        2022 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","text":"©
        2022 MapQuest, Inc."},"messages":["We are unable to route with the given locations."]}}'
  recorded_at: Mon, 26 Sep 2022 21:50:43 GMT
recorded_with: VCR 6.1.0
